<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Writer:</strong>
    <%= article.writer %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Publishedat:</strong>
    <%= article.publishedat %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= article.tags %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= article.slug %>
  </p>

  <p>
    <strong>Updatedat:</strong>
    <%= article.updatedat %>
  </p>

  <p>
    <strong>Updatedtext:</strong>
    <%= article.updatedtext %>
  </p>

</div>
