<div class="main-section">
	<%= image_tag "main-section/page.png", alt: "page", class: "page" %>
    <%= image_tag "main-section/page-base.jpg", alt: "page-base", class: "page-base" %>
    <%= image_tag "main-section/outer-border.png", alt: "outer-border", class: "outer-border" %>
    <%= image_tag "main-section/aotd-share.svg", alt: "share", class: "aotd-share" %>
    <%= image_tag "main-section/aotd-heading.svg", alt: "heading", class: "aotd-heading" %>
    <%= image_tag "main-section/shadow.png", alt: "shadow", class: "shadow" %>
</div>
<div class="daily">
	<%= image_tag "daily/daily-btn-clkd.svg", alt: "daily button", class: "daily-btn-clkd" %>
</div>