<div class="main-section">
	<%= image_tag "main-section/page.png", alt: "page", class: "page" %>
    <%= image_tag "main-section/page-base.jpg", alt: "page-base", class: "page-base" %>
    <%= image_tag "main-section/outer-border.png", alt: "outer-border", class: "outer-border" %>
</div>
<div class="sunnah">
    <%= image_tag "sunnah/sunnah-button.svg", alt: "sunnah-button", class: "sunnah-btn-clkd" %>
    <%= image_tag "sunnah/search-bar.png", alt: "search-bar", class: "search-bar" %>
    <%= image_tag "sunnah/keywords-text.svg", alt: "keywords-text", class: "keywords-text" %>
     <%= image_tag "sunnah/plus-button.svg", alt: "plus-button", class: "plus-button" %>
    <%= image_tag "sunnah/status-selector-button.svg", alt: "status-selector", class: "status" %>
    <%= image_tag "sunnah/authenticity-bar.png", alt: "authenticity-bar", class: "auth-bar" %>
</div>