<div id="<%= dom_id sunnah %>">
  <p>
    <strong>Hadith:</strong>
    <%= sunnah.hadith %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= sunnah.status %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= sunnah.book %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= sunnah.volume %>
  </p>

  <p>
    <strong>Isnad:</strong>
    <%= sunnah.isnad %>
  </p>

  <p>
    <strong>Adalah:</strong>
    <%= sunnah.adalah %>
  </p>

  <p>
    <strong>Irsal:</strong>
    <%= sunnah.irsal %>
  </p>

  <p>
    <strong>Tawatur:</strong>
    <%= sunnah.tawatur %>
  </p>

  <p>
    <strong>Matn:</strong>
    <%= sunnah.matn %>
  </p>

  <p>
    <strong>Asbabalwurud:</strong>
    <%= sunnah.asbabalwurud %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= sunnah.tags %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= sunnah.slug %>
  </p>

</div>
